$logo-font: Shrikhand;
$title-font: Shrikhand;
$text-font: Roboto;
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

/* THE HEADER SECTION */

text-font {
    color: $primary-color;
    font-family: $text-font;
}

/* THE EXPLORATION MAP SECTION */



/* THE STEPS OF HOW IT WORKS */



/* RESTAURANTS SECTION */



/* FOOTER SECTION */

