// Styles specific to home page (index.html)

.restaurants {
    padding: 20px;
    background-color: $background-color;
    width: auto;
}
.rest-card {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    padding-bottom: 10px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.5);
}
.restaurants picture {
    width: auto;
    height: 120px;
}
.restaurants img {
    width: 100%;
    height: inherit;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
    object-position: center;
}
// label for NEW
.label {
    position: absolute;
    top: 10px;
    right: 10px;

    background-color: $tertiary-color;
    color: green;
    padding: 5px 15px;
    border-radius: 2px;
}

.rest-card h2, .rest-card p {
    padding-top: 0px;
    padding-left: 10px;
    line-height: 0.5;
}
// heart icon
.rest-card i {
    z-index: 99;
    position: absolute;
    bottom: 30px;
    right: 20px;
    font-size: 2rem;
}