// Styles specific only to restaurants pages

// setting arrow-back position in header
header {
    position: relative;
    & > a {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 1rem;
    }
}
.main {
    background-color: $background-color;
}

.rest-image {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    min-height: 250px;
    background-size: cover;
    background-position: center;
}

// background hero image for each restaurant
.bastille {
    @include url-background-image(bastille);
}
.le-gourmand {
    @include url-background-image(le-gourmand);
}
.the-enchanted-plate {
    @include url-background-image(the-enchanted-plate);
}
.the-full-palette {
    @include url-background-image(the-full-palette);
}

.restaurant-name {
    // positioning
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;
    & i {
        padding: 0 10px;
    }    
}



// testing heart toggle below - IN PROGRESS

// #toggle-heart {
//     position: absolute;
//     left: -100vw;
//   }

//   .heart {
//     color: #aab8c2;
//   }
  
//   .heart2 {
//     position: relative;
//     color: green;
//     z-index: 2;
//   }

//  #toggle-heart:checked + label {
//     animation: heart 2s linear;
//   }

//   [for='toggle-heart'] {
//     cursor: pointer;
//   }


// @keyframes heart { 
//     0% {
//         color: transparent;
//     }
//     100% {
//         color: red;
//     }
//   }