.welcome-board {
    @include breakpoint(desktop) {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: stretch;        
    }
}
// header > i {
//     visibility: hidden;
// }
.restaurants {
    padding: 20px;
    background-color: $background-color;
    width: auto;
}
.rest-card {
    position: relative;

    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    padding-bottom: 10px;
    border-radius: 15px;

    background-color: white;
    box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.5);
}
.restaurants picture {
    width: auto;
    height: 120px;
}
.restaurants img {
    width: 100%;
    height: inherit;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
    object-position: center;
}

.label {
    position: absolute;
    top: 10px;
    right: 10px;

    background-color: $tertiary-color;
    color: green;
    padding: 5px 15px;
    border-radius: 2px;
}

.rest-card h2, .rest-card p {
    padding-top: 0px;
    padding-left: 10px;
    line-height: 0.5;
}

.rest-card i {
    position: absolute;
    bottom: 30px;
    right: 20px;
    font-size: 2rem;
}

.rest-card i.full {
    // background: rgb(219,17,242);
    // fill: linear-gradient(90deg, rgba(219,17,242,1) 0%, rgba(97,9,121,1) 100%);
    fill: rgba(97,9,121,1);
}