// Properties for aside section with 3 steps of help

.help {
    padding: 10px;
    min-width: 45%;
    background-color: white;
}
// ordered list properties
ol {
    // setting counter for list
    counter-reset: acounter;
    list-style: none;
    // positioning
    padding-left: 50px;
    // setting for all list items
    & li {
        // increment for counter
        counter-increment: acounter;
        // size
        height: 2.75rem;
        width: auto;
        // aspect
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        background-color: $background-color;
        border-radius: 18px;
        font-weight: 600;
        font-size: 0.8rem;
        @include shadow-card;
        // positioning
        position: relative;
        margin: 0 2rem 1rem 0;
        // icons properties
        & > i {
            text-align: center;
            font-size: 0.8rem;
            color: grey;
            width: 30px;
            padding-left: 1.25rem;
            padding-right: 0.25rem;
        }
        // customizing list number
        &::before {
            // incrementing
            content: counter(acounter);
            // positioning
            position: absolute;
            left: -12px;
            margin-right: 1.875rem;
            // size
            width: 1.25rem;
            height: 1.25rem;
            // aspect
            font-size: 0.7rem;
            text-align: center;
            color: white;
            background-color: $primary-color;       
            border-radius: 50%;
            // centering counter
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
    }
}