// Style setting for the page footer

footer {
    display: flex;
    flex-direction: column;
    color: #fff;
    line-height: 1.4rem;
    padding: 20px;
    background-color: #000;
}

footer .fas {
    // fixing size of icons in footer
    font-size: 0.8rem;
}