// foodmenu block
.foodmenu {
    padding: 10px;
    // formatting block as flexbox
    display: flex;
    flex-flow: column wrap;
}

.foodmenu-dish-card {
    // positioning
    margin-top: 10px;
    // formatting dishcard as flexbox
    display: flex;
    flex-flow: row nowrap;
    // aspect
    background-color: $foodmenu-item-background-color;
    border-radius: 8px;
    // adding shadow to the card from mixins definition
    @include shadow-card;
    // preparing animation by hiding the checkmark
    overflow: hidden;
    // setting maxheight for textoverflow replacement with ellipsis
    max-height: 50px;
}
.foodmenu-dish-description {
    // spacing
    margin: 0;
    padding: 10px;
    width: 100%;
}

.foodmenu-dish-ingredients {
    margin: 0;
    font-size: 0.6rem;
    // solving text overflow
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 150px;
}

.foodmenu-dish-price {
    // aspect
    font-size: 0.6rem;
    font-weight: 800;
    background-color: $foodmenu-item-background-color;
    // spacing
    padding: 10px 15px;
    // positioning
    //centering text vertically inside flex-item
    display: flex;
    align-items: flex-end;
}

.foodmenu-dish-selected {
    // aspect
    font-size: 0.8rem;
    background-color: $foodmenu-item-check-background-color;
    color: #fff;
    border-radius: 0 8px 8px 0;
    //centering text vertically inside flex-item
    display: flex;
    align-items: center;
    justify-content: center;
    // transition applied to the child
    transition: all 0.5s ease-in;
    width: 0.001px;
}

// rotation effect applied on checkmark on hover over dish item
.foodmenu-dish-card:hover .foodmenu-dish-selected {
    //extending width size on hover
    width: 48px;
    & i {
        transition-duration: 0.5s;
        transform: rotate(1turn);
    }
}

// defining fade-in effect for cards on loading
@keyframes fadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}
// applying settings for fade-in animation
.fade-in {
    opacity: 0;
    animation: fadeIn ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 1.5s;
}

// delayed animation of cards

// initial version
// .fade-in.one {
//     animation-delay: 0.1s;
// }
// .fade-in.two {
//     animation-delay: 0.5s;
// }
// .fade-in.three {
//     animation-delay: 1s;
// }

// loop to re-create different delay classes 
@for $i from 1 through 9 {
    .fade-in {
        &.delay-#{$i} {
        animation-delay: $i * 0.5s;
    }
}
}