/* .logo--font {
        font-family: $logo-font;
    }
.logo--white {
        color: white;
    } */

    .logo {
        &--font {
            font-family:$logo-font;
        }
        &--white {
            color: white;
        }
        &--black {
            color: black;
        }
    }