html {
    @include breakpoint(mobile) {
        font-size: 18px;
    }
    @include breakpoint(tablet) {
        font-size: 24px;
    }
    @include breakpoint(desktop) {
        font-size: 32px;
    }
}



body {
    // setting default font
    font-family: $text-font;
    // centering website
    margin: auto;

    // including pre-defined breakpoints (defined in _variables as map)
    // and media query selection (defined in _mixins)
    @include breakpoint(mobile) {
        min-width: 320px;
    }
    @include breakpoint(tablet) {
        max-width: 800px;
    }
    @include breakpoint(desktop) {
        max-width: 960px;
    }
}

a:link, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}